/* #Header */
.site-header__wrap {
	background-color: $header_bg_color;
	background-repeat: $header_bg_repeat;
	background-position: $header_bg_position_x top;
	background-attachment: $header_bg_attachment;
	@background_url( $header_bg_image );
}

/* ##Top Panel */
.top-panel {
	color: $secondary_text_color;
	background-color: $top_panel_bg;
}
.site-header {
	z-index: 999 !important;
	position: relative !important;
	
}

.site-header__wrap{
padding-top: 10px !important;
padding-bottom: 20px !important;
background-color:  transparent !important;
color: red !important;
}


.site-branding{
	padding-top: 10px;
}